body,td,th {font-size: 14px;}
body {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;}
#pwdSpan div {text-align: center;font-size: 12px;line-height: 30px;display: inline-block;margin-left: 15px;height: 30px;width: 50px;background: #CCC;}